*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(0, 255, 255);
}

.container{
    height: 804px;
    width: 804px;
    margin: 15rem auto;
    background-image: url(/img/mägi.png);
    position: relative;
    
}

.box{
    border-radius: 5%;
    height: 200px;
    width: 200px;
    position: absolute;
    left: 0;
    bottom: 10px;
    animation-name: box;
    animation-duration: 35s;
    background-image: url(/img/cloud-transparent-png-11.png);
}

@keyframes box{
    0% {left: 0; bottom: 10px;}
    50% {left: 600px; bottom: 10px;}
    100% {left: 0; bottom: 10px;}
    
}

.box2{
    border-radius: 5%;
    height: 200px;
    width: 200px;
    position: absolute;
    right: 0;
    bottom: 140px;
    animation-name: box2;
    animation-duration: 35s;
    background-image: url(/img/cloud-transparent-png-11.png);
}

@keyframes box2{
    0% {right: 0; bottom: 140px;}
    50% {right: 600px; bottom: 140px;}
    100% {right: 0; bottom: 140px;}
    
}

/*
@keyframes box{
    0% {left: 18; top: 30px;}
    10% {left: 20px; top: 33px;}
    25% {left: 35px; top: 50px;}
    35% {left: 25px; top: 46px;}
    45% {left: 15px; top: 35px;}
    55% {left: 10px; top: 25px;}
    65% {left: 8px; top: 25px;}
    75% {left: 10px; top: 21px;}
    85% {left: 14px; top: 23px;}
    95% {left: 17px; top: 28px;}
    100% {left: 20px; top: 33px;}
}
*/